table {
  margin-top: 10%;
}
img {
  width: 30%;
}
td {

  width: 20%;
}
th {
  padding-bottom: 3%;
  padding-right: 100%;

}
.row {
  display: inherit;
}

h3 {
  margin-top: 3%;
}
.main-img {
  width: 100%;
  padding-bottom: 5%;
}
