<div class="contact-us">
  <img class="main-img" src="https://www.lakelandanimalshelter.org/images/uploads/slideshow_images/6/lakeland-adopt_banner__large.jpg">
  <div class="info">
    <h3>Opening hours</h3>
    <p>Sunday-Thursday: 8:00 am – 8:00 pm.<br>
    Friday-Saturday: 8:00 am – 2:00 pm.</p>
    <p style="font-style: italic">Visitors may come to the clinic during the above opening hours without booking an appointment in advance. Appointments must be made by phone for surgical operations. Outside of official opening hours, you can see the on-call veterinarian for a fee. There is always an on-call veterinarian when the clinic is closed.</p>
    <h3>Bringing in animals</h3>
    <p>Animals may be brought in any day of the week until 10:00 pm (ring the bell on the main gate). Please do not leave animals at the gate – this puts them at great risk!</p>
    <h3>Animal rescue</h3>
    <p>If you’ve seen an animal in distress, don’t ignore it. Call us and we will either handle the case or refer you to the appropriate authorities.</p>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>
          <img src="https://www.paypalobjects.com/digitalassets/c/icons/call_blue_72_2x.png">
        </td>
        <td>
          <img src="https://www.paypalobjects.com/digitalassets/c/icons/letterclosed_blue_72_2x.png">
        </td>
        <td>
          <img src="https://www.paypalobjects.com/digitalassets/c/icons/man_blue_72_2x.png">
        </td>
      </tr>
      <tr>
        <td><h6>Call Us</h6></td>
        <td><h6>Email Us</h6></td>
        <td><h6>Visit Us</h6></td>
      </tr>
      <tr>
        <td><p>03-45612378</p></td>
        <td><p>mail@mail.com</p></td>
        <td><p>1 Herzl Street, Tel Aviv, 6810121</p></td>
      </tr>
    </table>
  </div>
</div>
