
<img src="https://cdn3-www.dogtime.com/assets/uploads/2013/07/file_18073_column_safe-dog-encounters.jpg">
<h2>
  Jobs and Volunteering
</h2>
<br>

<h4>
  Jobs
</h4>
<h6>
  Doctor
</h6>
<p>
  We are looking for a veterinary doctor who can work in shifts in the week and weekend.
</p>
<h4>
  Volunteering
</h4>
<h6>Volunteer your time with the residents that call this area home</h6>
<p>
  There are many ways you can make a difference in helping our dogs find their forever home. While volunteering you might be asked to help with any of the following tasks:
</p>
<ul>
  <li>Sweeping or mopping the floors in buildings, runs, or patios</li>
  <li>Raking the runs and filling in holes</li>
  <li>Taking dogs on walks (weather dependent)</li>
  <li>Feeding, along with a caregiver (some dogs and cats have special diets so a caregiver must be present during all feedings)</li>
  <li>Socializing (first ask the caregiver if the dog or the cat is toy-aggressive)</li>
  <li>Brushing</li>
  <li>Poop scooping</li>
  <li>Cleaning door flaps</li>
  <li>Clearing walking trails of rocks, sticks, or poop</li>
  <li>Cleaning and refilling water pails</li>
  <li>Cleaning and refilling pools in the summer</li>
  <li>Taking dogs on an outing (special considerations apply)</li>
  <li>Walking the fencing to make sure no holes are being created</li>
  <li>Doing other general cleaning and special projects (ask the caregiver)</li>
  <li>Wrapping whistles</li>
  <li>Making treat pouches for outings and sleepover bags</li>
  <li>General office work if you cannot be out in the elements</li>
  <li>Washing dishes</li>
  <li>Helping with laundry</li>
  <li>Weeding runs</li>
  <li>Helping out with house maintenance</li>
</ul>
<h6>
  Safety Guidelines
</h6>
<p>To keep you and our animal friends safe, here are a few things that you should be aware of before volunteering:</p>
<p style="font-style: italic">Closed-toe shoes are required for volunteering in all animal areas. Sneakers or hiking shoes are the preferred footwear and shoes must have a heel strap at minimum. Clog type shoes are not permitted as shoes could fall off while walking or working with animals, climbing ladders or performing other volunteer tasks.</p>
<ul>
  <li>You must be at least 10 years of age to volunteer.</li>
  <li>Children under 14 cannot walk dogs by themselves.</li>
  <li>Parking and driving are permitted only in designated areas.</li>
  <li>You must have your own transportation to the area in which you’re volunteering.</li>
  <li>It is very important to clip all gates closed when entering or leaving a dog run.</li>
  <li>Please be aware that dogs and cats like to jump up on people, which could cause or exacerbate injuries.</li>
  <li>Be careful not to place your face close to a dog’s or a cat's face in case a biting reaction occurs.</li>
  <li>If you see a dog or a cat fight starting, blow your whistle until a staff member arrives. Please don’t try to break up a fight yourself.</li>
  <li>Trails are for walking only; running with the dogs or cats is not allowed.</li>
  <li>While we welcome your questions about our dog-training or cat-training procedures, we ask that you please refrain from trying to train them on your own.</li>
  <li>Please do not bring your personal pets.</li>
  <li>Please do not use cell phones or cameras when you are supervising a dog or a cat. This includes walking a dog on or off Sanctuary proper during your volunteer shift or while on an outing or sleepover.</li>
</ul>
<h6 style="color: darkgrey; padding-top: 5%">
  To apply please send your resume to <a style="font-style: italic">mail@mail.com</a>
</h6>
