<div>
  <h3>There are 2 option for adoptions - permanently and for a night.</h3>
  <h6>Please click on the wanted option to get the full details on the process</h6>
</div>
<mat-grid-list cols="{{this.cols}}">
  <mat-grid-tile class="showPermanently" [hidden]="this.adoptionType === 'temporary'">
    <button class="permanently" (click)="this.setAdoptionOption('permanently')" [hidden]="this.adoptionType === 'permanently'">Permanently Adoption</button>
    <app-permanently-adoption *ngIf="this.adoptionType === 'permanently'"></app-permanently-adoption>
  </mat-grid-tile>
  <mat-grid-tile class="showTemporary" [hidden]="this.adoptionType === 'permanently'">
    <button class="permanently" (click)="this.setAdoptionOption('temporary')" [hidden]="this.adoptionType === 'temporary'">Temporary Adoption</button>
    <app-adoption-temporary *ngIf="this.adoptionType === 'temporary'"></app-adoption-temporary>
  </mat-grid-tile>
</mat-grid-list>

