body{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.applicationForm {
  border-color: lightgreen;
}

.process {
  margin-bottom: 10%;
}
.text-center {
  background-color: lightskyblue;
}
.form-control.ng-touched.ng-invalid {
  Border: 2px solid red;
}

