body{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.card {
  padding-bottom: 3%;
}
.applicationForm {
  border-color: lightgreen;
  padding-top: 3%;
}

.process {
  margin-bottom: 10%;
}
.text-center {
  background-color: lightskyblue;
}
.form-control.ng-touched.ng-invalid {
  Border: 2px solid red;
}

/*input:invalid {*/
  /*Border: 2px solid red;*/
/*}*/
label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}
h5.card-header {
  font-size: 18px;
}
h5 {
 font-size: 16px;
}
h6 {
  font-size: 15px;
}
label.form-check-label {
  margin-left: 5%;
}
label {
  font-size: 100%;
  font-weight: 400;
}
button {
  font-size: 120%;
  margin-left: 1.5%;
  margin-right: 1.5%;

}

input[type=checkbox] {
  margin: 0;
  height: 100%;
}
input {
  font-size: 100%;
  height: 10%;
  margin-bottom: 5%;
  font-weight: 300;
}


