<div class="adoption">
  <h2>Interested in a one night adopting?</h2>
  <h5>Temporary Adoption Process</h5>
  <p style="">Temporary adoption is for a one night. It gives the dog/cat option to get a warmer environment and gives the adopter joy and simulation of having a dog/cat at home</p>
  <h6>
    The adopters must meet several conditions:
  </h6>
  <ul>
    <li>
       They must be over 18 years of age, living in their own home, or renting a residence that allows pets.
    </li>
    <li>
      Fill the temporary adoption application with your personal details.
    </li>
    <li>
      The next step is we will contact you once you approved.
    </li>
    <li>
      You will have to pick up the dog/cat at 4-6pm and returns till 2pm.
    </li>
  </ul>
  <br>
  <h6 class="hours">
    Sunday-Thursday (10:00 am – 6:30 pm), Friday (8:00 am – 1:30 pm), Saturday (11:00 am – 1:30 pm)
  </h6>
  <div class="container contact-form">

    <form method="post">
      <h3>Application Form for Temporary Adoption</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" required name="txtFirstName" class="form-control" placeholder="Your First Name *" value="" />

          </div>

          <div class="form-group">
            <input type="email"  name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
          </div>

          <div class="form-group">
            <input type="text" name="txtDate" class="form-control" placeholder="Preferred adoption date" value="" />
          </div>
          <div class="form-check">
            <input type="checkbox" required class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accept terms</label>
          </div>
          <div class="form-group">
            <input type="submit" name="btnSubmit" class="btnContact" value="Submit" (click)="submitForm()" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="txtLastName" class="form-control" placeholder="Your Last Name *" value="" />
          </div>
          <div class="form-group">
            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
