.site-map {
  background-color: lightslategray;
  height: 100%;
  padding-top: 3%;
  padding-left: 10%;
  font-size: 150%;
}

table {
  margin-left: 15%;
}
/* unvisited link */
a:link {
  color: darkgrey;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: blue;
}/*
.leftSide {
  margin-left: 10%;
  margin-bottom: 3%;
}

.rightSide {
 padding-left: 60%;
}
*/

table {
  border-collapse: separate;
  border-spacing: 220px 0;
}

td {
  padding: 10px 0;
}


