.site-map {
  background-color: lightslategray;
  height: 100%;
  padding-top: 3%;
}

table {
  margin-left: 30%;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
