<div class="site-map">
  <mat-grid-list cols="2">
    <mat-grid-tile class="company">
      <p>Company</p>
      <ul>
        <li>
          <a routerLink="" >Home</a>
        </li>
        <li>
          <a routerLink="about">About</a>
        </li>
        <li>
          <a routerLink="jobs" >Jobs</a>
        </li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile class="adoption">
      <p>Adoption</p>
      <ul>
        <li>
          <a routerLink="animals" >Our Animals</a>
        </li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>


