<div class="site-map">
  <table>
    <tr>
      <th class="leftSide">Company</th>
      <th class="rightSide">Adoption</th>
    </tr>
    <tr>
      <td class="leftSide"><a routerLink="">Home</a></td>
      <td class="rightSide"><a routerLink="animals">Our Animals</a></td>
    </tr>
    <tr>
      <td class="leftSide"><a routerLink="about">About</a></td>
    </tr>
    <tr>
      <td class="leftSide"><a routerLink="jobs">Jobs</a></td>
    </tr>
    <tr>
      <td class="leftSide"><a routerLink="contact-us">Contact Us</a></td>
    </tr>
  </table>
</div>


