img {
  width: 450px;
  height: 350px;
  border:1px solid lightgray;
  alignment: center;

}


.mat-card {
  float:left;
  background-size: cover;
  cursor: pointer;
}

.mat-card-content {
  padding-lefr: 20px;
}


h2 {
  text-align: center;
  line-height: 90px;
}

#our-animals {
  margin-bottom: 30%;
}




