<div class="adoption">
  <h2>Interested in adopting? Come visit us!</h2>
  <h5>Adoption Process</h5>
  <p style="">All the cats and dogs at the shelter have experienced a traumatic abandonment at least once, and that is why it is important for us to find them homes with people who understand the responsibility and the commitment it takes when choosing to raise a pet, so that they will not be passed from hand to hand again</p>
  <h6>
    The adopters must meet several conditions:
  </h6>
  <ul>
    <li>
      They must be over 18 years of age, living in their own home, or renting a residence that allows pets.
    </li>
    <li>
      All members of the household must be part of the adoption process. If a person is living with family members or sharing an apartment, every person must come to the shelter for the adoption process.
    </li>
    <li>
      After choosing your pet, the dog or cat will undergo a veterinary check-up at the SPCA clinic and receive the appropriate inoculations.
    </li>
    <li>
      The next step is obtaining all necessary permits and making a donation to the Society
    </li>
  </ul>
  <h6>
    Please note – the decision to adopt an animal is a long-term commitment. You have to be certain that you can supply the animal’s needs for its entire life and have the means to do so – the time, a suitable residence, and the financial ability to buy food, and provide vaccinations and veterinary treatment when necessary. If you are not certain that you can take on this responsibility, please refrain from adopting an animal
  </h6>
  <br>
  <h6 class="hours">
    Sunday-Thursday (10:00 am – 6:30 pm), Friday (8:00 am – 1:30 pm), Saturday (11:00 am – 1:30 pm)
  </h6>
</div>
